.center{
    text-align: center;
}
.inline_block{
    display: inline-block;
    text-align: left;
}

.image img{
    max-width: 150px;
    width: 150px;
}

.caption{
    text-align: center;
}

#demo-container{
    height: 600px;
}
.modalBg{
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  height: 100%;             
  width: 100%;             
}
.modalBg img{
  opacity: 1;
}