@font-face {
    font-family: Saonara;
    src: url(SAONARA.otf);
  }
body{
    background-image: url(Images/blueprint.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    font-family: Saonara;
}
.center{
    text-align: center;
}
.inline_block{
    display: inline-block;
    text-align: left;
}

.image img{
    max-width: 150px;
    width: 150px;
}

.caption{
    text-align: center;
}

.modalBg{
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  height: 100%;             
  width: 100%;             
}
.modalBg img{
  opacity: 1;
}

.project{
    margin-bottom:1vh;
    border: 0px red solid;
    padding:0px;
    height: 25vh;
    width:100%;
    box-shadow: 3px 3px black;
    overflow: hidden;
}

.project .card{
    height: 100%;
    border-radius: 0px;
}
.spacer{
    height:5vh;
}
.spacer-very-small{
    height:0.5vh;
}

.theme{
    background-color:coral;
    color:white;
}
.theme-inverse{
    color:darkslategray;
}
.theme-inverse-link{
    background-color:darkslategray;
    color:white;
    font-size:20px;
    text-align:center;
    display: inline-block;
    width: 100%;
}
.theme-inverse-link:hover{
    background-color:coral;
    text-decoration:none;
    color:white;
    text-align:center;
    width: 100%;
}

.card-body{
    height: 100%;
    background-color: white;
}
.card-body.theme-inverse:hover{
    background-color:coral;
    transition: background-color 0.6s ease 0s;
    -webkit-transition: background-color 0.6s ease 0s;
    color:white;
}
.card-body.theme-inverse img{
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    max-height: 25vh;
}
.card-body.theme-inverse:hover img{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: filter 0.6s ease 0s;
    -webkit-filter: filter 0.6s ease 0s;
}

.project-thumbnail{
    height: 100%;
    float: left;
    margin-right: 10px;
    border-radius: 2px;
}

.card,button{
    border:1px darkslategray solid;
}

.theme-inverse-navbar,.inverse-theme-background{
    background-color:darkslategray;
}

img{
    max-height: 80vh;
    background-color:white;
}


.projects-header{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color:white;

}
.post-nav-content{
    display: inline-block;
}

.card-text{
    overflow: auto;
    max-height: 100%;
    text-align: center;
}

.card-text p{
    font-size:2vh;
}
.card-text h5{
    font-size:2.5vh;
}

@media (min-width:768px){

}

.personal-info-header{
    text-align: center;
    color:white;
}

.full-page{
    height:100vh;
}
.personal-info-header h1{
    font-size: 10vh;
    display: inline-block;
}

.personal-info-header p{
    display: block;
    font-size:3vh;
}
.spacer-one-third{
    height:30vh;
}
.spacer-one-fifth{
    height: 20vh;
}
.spacer-one-tenth{
    height:10vh;
}

.text-page{
    background-color:white;
    color:darkslategray;
}
.text-page-block{
    height:25vh;
    overflow: auto;
    padding:3vh;
}

.text-page-header{
    color: white;
    text-align:center;
}
.text-page-header h1{
    font-size: 7vh;
}

.text-page p{
    font-size:2vh;
}
#detail-title{
    padding:3vh;
}

.underline{
}

.underline::after{
    display: block;
    content: '';
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    animation: underline 0.7s linear forwards;
}

@keyframes underline{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.fade-in{
    opacity: 0;
}
.fade-in-loaded{
    opacity: 1;
    transition: opacity 1s;
}

.text-detail{
    height:75vh;
}

.text-detail-deactivated{
    display: none;
}
.text-page-button{
    background-color: white;
    border:1px coral solid;
    color: darkslategray;
    width:100%;
}
.text-page-button:hover{
    background-color: coral;
    border:1px coral solid;
    color:white;
}
@media screen and (min-width: 768px){
    .text-page-button{
        width:auto;
    }
    .text-page p{
        font-size:3vh;
    }
}
.article{
    background-color:white;
    color:white;
}

.return-link{
    background-color:coral; 
    position: fixed;
    bottom:0vh;
    font-size: 4vh;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9999;
    text-align: center;
}
.return-link a:visited{
    color:white;
}
.return-link a:hover{
    color:white;
    text-decoration: none;
    text-decoration-line: none;
}

@media screen and (min-width: 768px){
    .return-link{
        font-size: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
        bottom:3vh;
        left:3vh;
        width: auto;
    }
}

.progress-bar{
    height:0.5vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

video{
    width: 100%;
}